.pg-footer {
  background: $light url(../images/footer-bg.svg) repeat-x bottom center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  @include media-breakpoint-down(sm) {
    padding: 3rem;
  }
}
.footer-logo {
  max-width: 220px;
}
.footer-menu-list {
  > li {
    margin-bottom: 0.75rem;
  }
  [class^="pgi-"],
  [class*=" pgi-"] {
    width: 1.5rem;
    display: inline-block;
    text-align: center;
  }
  &.menus {
    a {
      font-size: 14px;
      text-decoration: none;
      color: $body-color;
      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }
    }
  }
}
.footer-copy {
  font-size: 13px;
}
.footer-menu-ttl {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.newsletter-subscription {
  display: flex;
  .form-control {
    border-radius: 4px 0 0 4px;
    background-color: $gray-200;
    border-color: $light;
    font-size: 13px;
    padding: 0.5rem 1.25rem;
  }
  .btn {
    border-radius: 0 4px 4px 0px;
    font-size: 13px;
    padding: 0.5rem 1.25rem;
  }
  .input-field {
    flex: 1;
  }
}
.social-menus {
  flex-wrap: wrap;
  > li {
    margin: 0 0.25rem 0.25rem 0;
  }
  a {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid $body-color;
    border-radius: 50%;
    text-decoration: none;
    line-height: 2.25rem;
    color: $body-color;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
      border-color: $primary;
      color: $primary;
    }
  }
}
